.btn-custom {
    color: #ffffff;
    width: 140px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 5%;
    background-color: transparent;
}

.btn-custom:focus {
    outline: none;
}

.btn-custom:hover {
    color: #17b0ae;
    background-color: #ffffff;
    transition: all .4s ease;
}

.btn-left {
    transform: perspective(273px) rotateY(-341deg) skew(2deg, 4deg);
}

.btn-right {
    transform: perspective(273px) rotateY(341deg) skew(-2deg, -4deg);
    
}